{{#partial "title"}}
<title>{{title}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
    <div class="ui center aligned inverted segment">
        <h2 class="ui right floated header">Publicidades</h2>
        <div class="ui clearing divider"></div>
        <button id="nuevo" class="positive fluid ui button">Nueva Publicidad</button>
        <div class="ui clearing divider"></div>
        <table id="publicidades" class="ui center aligned celled structured table">
            
            <thead>
	        	<tr>
    	            <th class="ascending" colspan="1">#</th>
        	        <th colspan="1">Sexo</th>
        	        <th colspan="1">Edad Min</th>
        	        <th colspan="1">Edad Max</th>
            	    <th colspan="1">Hr Min</th>
            	    <th colspan="1">Hr Max</th>
            	    <th colspan="1">Descripcion</th>
            	    <th colspan="1">Path</th>
                    <th colspan="1">Acciones</th>
            	</tr>
            </thead>
            <tbody>
            	{{#each publicidades}}
	            <tr>
    	            <td>{{this.id}}</td>
        	        <td>{{this.sexo}}</td>
        	        <td>{{this.edad_min}}</td>
        	        <td>{{this.edad_max}}</td>
            	    <td>{{this.horario_min}}</td>
            	    <td>{{this.horario_max}}</td>
            	    <td>{{this.descripcion}}</td>
            	    <td>{{this.path}}</td>
                    <td class="center aligned">
                        <button id="edit" class="ui edit icon button">
                            <i class="write icon"></i>
                        </button>
                        <button id="delete" class="ui delete icon button">
                            <i class="trash icon"></i>
                        </button>
                    </td>
    	        </tr>
    	        {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div id="nuevo-modal" class="ui modal">
    <i class="close icon"></i>
        <div class="header">
            Nueva Camara
        </div>
        <div class="content">
            <form class="ui form" method="POST" action="/publicidades">
	            	<div class="field">
		                <label>Sexo</label>
		                <input name="sexo" placeholder="Sexo" type="text" required="true">
		            </div>
		            
	                <div class="two fields">
		                <div class="field">
			                <label>Edad Minima</label>
			                <input name="edad_min" placeholder="Edad Minima" type="text" required="true">
			            </div>
			            <div class="field">
			                <label>Edad Maxima</label>
			                <input name="edad_max" placeholder="Edad Maxima" type="text" required="true">
			            </div>
			        </div>    
		            
		            <div class="two fields">
		            	<div class="field">
			                <label>Hr Minimo</label>
			                <input name="horario_min" placeholder="Horario Minimo" type="text" required="true">
			            </div>
			            <div class="field">
			                <label>Hr Maximo</label>
			                <input name="horario_max" placeholder="Horario Maximo" type="text" required="true">
			            </div>
		            </div>
		            
		            <div>
						<input type="file" id ="fileUpload" class="circular red fluid ui button" value="Seleccionar" onchange="funcionNombre(this.value)">
	                </div>
		            
		            <div class="two fields">
			            <div class="field">
			                <label>Descripcion</label>
			                <input name="descripcion" placeholder="Detalle Descripcion" type="text" required="true">
			            </div>
			            <div class="field">
			                <label>Path</label>
			                <input name="path" placeholder="Path" type="text" required="true">
			            </div>
		            </div>
		            <input type="submit" class="circular purple fluid ui button" value="Aceptar">
            </form>
        </div>
       
</div>
<div id="modificar-modal" class="ui modal">
    <i class="close icon"></i>
        <div class="header">
            Modificar Camara
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field">
		                <label>Sexo</label>
		                <input name="sexo" placeholder="Sexo" type="text">
		            </div>
		            
	                <div class="two fields">
		                <div class="field">
			                <label>Edad Minima</label>
			                <input name="edad_min" placeholder="Edad Minima" type="text">
			            </div>
			            <div class="field">
			                <label>Edad Maxima</label>
			                <input name="edad_max" placeholder="Edad Maxima" type="text">
			            </div>
			        </div>    
		            
		            <div class="two fields">
		            	<div class="field">
			                <label>Hr Minimo</label>
			                <input name="horario_min" placeholder="Horario Minimo" type="text">
			            </div>
			            <div class="field">
			                <label>Hr Maximo</label>
			                <input name="horario_max" placeholder="Horario Maximo" type="text">
			            </div>
		            </div>
		            
		            <div class="two fields">
			            <div class="field">
			                <label>Descripcion</label>
			                <input name="descripcion" placeholder="Detalle Descripcion" type="text">
			            </div>
			            <div class="field">
			                <label>Path</label>
			                <input name="path" placeholder="Path" type="text">
			            </div>
		            </div>               
            </form>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancelar
            </div>
            <div id="modificar-button" class="ui positive right labeled icon button">
                Modificar
                <i class="checkmark icon"></i>
            </div>
        </div>
</div>

<script>
	
	var selectedId = null;

	function funcionNombre(fic) {
  		fic = fic.split('\\');
  		var nombreArchivo = (fic[fic.length-1]);
  		$('.ui.modal .content').find('input[name=path]').val(nombreArchivo);
	}

	$("#nuevo").click(function(){
        $('#nuevo-modal').modal({
        }).modal('show');
    });
    
    $("#nuevo-button").click(function(){
        
    });
    
    $(".ui.edit.icon.button").click(function(){
        
        var id = $(this).parents("tr").find("td").eq(0).text();
        selectedId = id;
        var sexo  = $(this).parents("tr").find("td").eq(1).text();
        var edad_min = $(this).parents("tr").find("td").eq(2).text();
        var edad_max = $(this).parents("tr").find("td").eq(3).text();
        var horario_min = $(this).parents("tr").find("td").eq(4).text();
        var horario_max = $(this).parents("tr").find("td").eq(5).text();
        var descripcion = $(this).parents("tr").find("td").eq(6).text();
        var path = $(this).parents("tr").find("td").eq(7).text();
        
		$('#modificar-modal').modal({
            onShow    : function(){
                $('#modificar-modal').find('input[name=sexo]').val(sexo);
                $('#modificar-modal').find('input[name=edad_min]').val(edad_min);
                $('#modificar-modal').find('input[name=edad_max]').val(edad_max);
                $('#modificar-modal').find('input[name=horario_min]').val(horario_min);
                $('#modificar-modal').find('input[name=horario_max]').val(horario_max);
                $('#modificar-modal').find('input[name=descripcion]').val(descripcion);
                $('#modificar-modal').find('input[name=path]').val(path);
            }
        }).modal('show');
    });
    
    $("#modificar-button").click(function(){
        var id = $(this).parent().parent().find("td:first").text();
        var sexo = $('#modificar-modal').find('input[name=sexo]').val();
        var edad_min = $('#modificar-modal').find('input[name=edad_min]').val();
        var edad_max = $('#modificar-modal').find('input[name=edad_max]').val();
        var horario_min = $('#modificar-modal').find('input[name=horario_min]').val();
        var horario_max = $('#modificar-modal').find('input[name=horario_max]').val();
        var descripcion = $('#modificar-modal').find('input[name=descripcion]').val();
        var path = $('#modificar-modal').find('input[name=path]').val();
        $.ajax({
            url : "/publicidades/" + selectedId,
            method : "PUT",
            data : {sexo: sexo, edad_min: edad_min, edad_max: edad_max, horario_min: horario_min, horario_max: horario_max, descripcion: descripcion, path: path},
            success : function(response){
                var supplierSelector = "td:contains('"+ response.id + "')";
                $supplierRow = $(supplierSelector).closest("tr");
                $supplierRow.find("td:nth-child(2)").text(response.sexo);
                $supplierRow.find("td:nth-child(3)").text(response.edad_min);
                $supplierRow.find("td:nth-child(4)").text(response.edad_max);
                $supplierRow.find("td:nth-child(5)").text(response.horario_min);
                $supplierRow.find("td:nth-child(5)").text(response.horario_max);
                $supplierRow.find("td:nth-child(6)").text(response.descripcion);
                $supplierRow.find("td:nth-child(7)").text(response.path);
            }
        })
    });
    
    $(".ui.delete.icon.button").click(function(){
       var pub_id = $(this).parent().parent().find("td:first").text();
       selectedId = pub_id;
       
       $.ajax({
            url : "/publicidades/" + selectedId,
            method : "DELETE",
            success : function(response){
                $('#publicidades tr:eq('+selectedId+')').remove();
            }
        }) 
    });
    
</script>
{{/partial}}
{{> layout.hbs}}