{{#partial "title"}}
<title>{{title}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
    <div class="ui center aligned inverted segment">
			
			<h2 class="ui center aligned">REPORTES</h2>
			<h2 class="ui center aligned">{{filtro}}</h2>
			
				
				<div id="conjunto-filtros" class="field">
                    <div class="ui left action input fluid">
						<select class="ui selection dropdown sql">
						    <option value="cant_mujeres">Cantidad de Mujeres</option>
						    <option value="cant_hombres">Cantidad de Hombres</option>
						    <option value="cant_personas_seleccionadas">Cantidad de Personas Seleccionadas</option>
						    <option value="cam_id">Camara</option>
						    <option value="pub_id">Publicidad</option>
						</select>
						<select class="ui selection dropdown sql">
						    <option value=">">Mayor</option>
						    <option value="<">Menor</option>
						    <option value="=">Igual</option>
						    <option value=">=">Mayor o Igual</option>
						    <option value="<=">Menor o Igual</option>						    
						</select>
                        <input type="text" name="filtro" id="filtro" placeholder="Filtro SQL" class="sql">
                    </div>
               	</div>
               	
               	<div class="ui clearing divider"></div>
               	<div class="field right align">
               		<button class="red ui button nuevo-filtro"><i class="ui add circle icon"></i>Nuevo Filtro</button>
               		<button class="yellow ui button" id="filtrar">FILTRAR</Button>
                </div>
                    
  
        
        <table id ="reportes" class="ui center aligned celled structured table">
            <thead>
	        	<tr>
    	            <th class="ascending" colspan="1">#</th>
            	    <th colspan="1">Mujeres</th>
                	<th rowspan="1">Hombres</th>
                	<th rowspan="1">Seleccionados</th>
                	<th rowspan="1">Publicacion</th>
                	<th rowspan="1">Camara</th>
            	</tr>
            </thead>
            
            <tbody>
            	{{#each reportes}}
	            <tr>
    	            <td>{{this.id_reporte}}</td>
            	    <td>{{this.cant_mujeres}}</td>
            	    <td>{{this.cant_hombres}}</td>
            	    <td>{{this.cant_personas_seleccionadas}}</td>
                    <td>{{this.pub_id}}</td>
                    <td>{{this.cam_id}}</td>
    	        </tr>
    	        {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
$('.nuevo-filtro').click(function(){
	
	var div = $('<div class="ui left action input fluid"><div class="ui selection dropdown sql" tabindex="0"><select><option value="AND">Y</option><option value="OR">O</option></select><i class="dropdown icon"></i><div class="text">Y</div><div class="menu transition hidden" tabindex="-1"><div class="item active selected" data-value="AND">Y</div><div class="item" data-value="OR">O</div></div></div><div class="ui selection dropdown sql" tabindex="0"><select><option value="cant_mujeres">Cantidad de Mujeres</option><option value="cant_hombres">Cantidad de Hombres</option><option value="cant_personas_seleccionadas">Cantidad de Personas Seleccionadas</option><option value="cam_id">Camara</option><option value="pub_id">Publicidad</option></select><i class="dropdown icon"></i><div class="text">Cantidad de Mujeres</div><div class="menu" tabindex="-1"><div class="item active selected" data-value="cant_mujeres">Cantidad de Mujeres</div><div class="item" data-value="cant_hombres">Cantidad de Hombres</div><div class="item" data-value="cant_personas_seleccionadas">Cantidad de Personas Seleccionadas</div><div class="item" data-value="cam_id">Camara</div><div class="item" data-value="pub_id">Publicidad</div></div></div><div class="ui selection dropdown sql" tabindex="0"><select><option value=">">Mayor</option><option value="<">Menor</option><option value="=">Igual</option><option value=">=">Mayor o Igual</option><option value="<=">Menor o Igual</option></select><i class="dropdown icon"></i><div class="text">Mayor</div><div class="menu" tabindex="-1"><div class="item active selected" data-value=">">Mayor</div><div class="item" data-value="<">Menor</div><div class="item" data-value="=">Igual</div><div class="item" data-value=">=">Mayor o Igual</div><div class="item" data-value="<=">Menor o Igual</div></div></div><input type="text" name="filtro" id="filtro" placeholder="Filtro SQL" class="sql"></div>');

	$('#conjunto-filtros').append(div);
	
	$('.ui.dropdown').dropdown('refresh');
	
});

$('#filtrar').click(function(){
	var where = "";
	$('.sql').each(function(){
		if ($(this).prop("tagName") == "DIV"){
			where += $(this).children('select').val() + " ";
		} else {
			where += $(this).val() + " ";
		}
	});

	url = window.location.href.split("?")[0];
	window.location = url + "?filtro=" + where;
});
</script>

{{/partial}}
{{> layout.hbs}}